<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [disabled]="readonly" placeholder="Ex. Flour" [value]="ingredient.name" #Name
        (change)="updateName(Name.value)">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Units</mat-label>
      <input matInput [disabled]="readonly" placeholder="Ex. 1" [value]="ingredient.amount" #Amount
        (change)="updateAmount(Amount.value)" type="number">
      <button matSuffix mat-button [color]="'warn'" (click)="removeIngredient()">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
