<div class="row">
    <div class="col-md-12">
        <h1 class="display-1">Convert JSON to CSV
        </h1>
        <p class="lead">Paste your JSON below and we will convert it to CSV instantly.</p>
    </div>
    <div class="row ">
        <div class="col-md-6">

            <h4><span class="badge badge-primary">1</span>Paste your JSON below </h4>

        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary" (click)="JsonObject()">JSON Object Example</button>
            <button type="button" class="btn btn-outline-primary" (click)="JsonArray()">JSON Array Object Example</button>

        </div>
    </div>



</div>
<div class="row " >
    <div class="col">
        <div class="form-group">
            <textarea class="form-control" [(ngModel)]="data">Test</textarea>

        </div>

    </div>

</div>

<div class="row top-buffer">
    <div class="col">
        <h4><span class="badge badge-primary">2</span>Preview the output below:</h4>
    </div>
    <app-previewdata *ngIf="(data|validjson)" [JSONstring]=data|jSONparse></app-previewdata>
</div>

<div class="row  top-buffer">
    <div class="col">
        <div class="form-group">

        </div>
        <h4><span class="badge badge-primary">3</span>Export your data to csv</h4>
        <textarea class="form-control" [value]="data|jSONparse|jsontocsv">Test</textarea>

        <button type="button" class="btn btn-outline-primary btn-lg btn-block" [ngClass]="(data|validjson)?'btn btn-outline-success':'btn btn-outline-danger'" (click)="exportToCSV()" [disabled]="!(data|validjson)">Export</button>

    </div>

</div>
